<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectusCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DirectusCompanion.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetToken" serializeAs="String">
                <value />
            </setting>
        </DirectusCompanion.Properties.Settings>
    </userSettings>
</configuration>